@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

$Color-title: #2E2E2E;
$Color-text: #515151;

.container-main{
    padding: 0px 78px;
    width: 100%;
    display: flex;
}

.Web{
    color: $Color-text;
    font-family: "Inter", serif;
    position: relative;

    header{
        display: flex;
        position: sticky;
        top: 0;
        left: 0;
        width: 100%;
        padding: 14px 0px;
        z-index: 1000;
        background-color: white;
    }

    &__header{
        display: flex;
        width: 100%;

        &__inner{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;

            &__logo{
                font-size: 24px;
                color: $Color-title;
                width: 20%;
                font-weight: 500;
            }
            &__menu{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 50%;

                ul{
                    display: flex;
                    width: 100%;
                    font-size: 17px;
                    align-items: center;
                    height: 100%;
                    margin: 0px;

                    li{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-right: 48px;
                    }
                }
            }
            &__extend{
                width: 30%;
                display: flex;
                justify-content: space-between;
                align-items: center;

                &__dangky{
                    font-size: 16px;
                    padding: 4px 16px;
                    background-color: $Color-title;
                    color: white;
                    border-radius: 100px;
                    border: 1px solid $Color-title;
                }
                &__dangnhap{
                    font-size: 16px;
                    padding: 4px 16px;
                    background-color: white;
                    color: $Color-title;
                    border-radius: 100px;
                    border: 1px solid $Color-title;
                }
                &__icon{
                    color: #2E2E2E;
                    font-size: 30px;
                }
            }
        }
    }
    &__footer{
        background-color: $Color-title;
        color: white;
        padding: 48px 0px;
        margin-top: 48px;

        &__inner{
            width: 100%;

            &__logo{
                font-size: 48px;
                font-weight: 500;
                margin-bottom: 66px;
            }
            &__contact{
                display: flex;
                align-items: center;
                font-size: 17px;
                font-weight: 300;
                margin-bottom: 12px;

                &__icon{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-right: 15px;
                }
            }
            &__title{
                font-size: 19px;
                margin-bottom: 12px;
            }
            &__text{
                font-size: 17px;
                font-weight: 300;
                margin-bottom: 4px;
            }
            &__icon{
                display: flex;
                font-size: 20px;
                &__inner{
                    margin-right: 24px;
                }
            }
        }
    }
}