body, html {
    user-select: none; /* Ngăn chặn việc chọn văn bản */
    -webkit-user-select: none; /* Ngăn chặn việc chọn văn bản trên WebKit (Chrome, Safari) */
    -ms-user-select: none; /* Ngăn chặn việc chọn văn bản trên Internet Explorer/Edge */
    -moz-user-select: none; /* Ngăn chặn việc chọn văn bản trên Firefox */
}

.main .controler{
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 30px;
    bottom: 30px;
    align-items: center;
    justify-content: center;
}
.main .controler .controler__button{
    margin: 10px;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0.8;
    user-select: none; /* Ngăn chặn việc chọn văn bản */
}
.main .controler .controler__button:hover{
    opacity: 1;
}
.fullscreen_button{
    margin: 10px;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
    font-size: 30px;
    opacity: 0.5;
    user-select: none; /* Ngăn chặn việc chọn văn bản */
}
.fullscreen_button:hover{
    opacity: 1;
}

.instructions_button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #1976d2;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 14px;
    z-index: 1000;
    transition: background-color 0.3s ease;
}

.instructions_button:hover {
    background-color: #115293;
}